body {
  background-color: #fff;
  margin: 0 !important;
  min-height: 100%;
  color: #11131a;
  background-image: url(../public/background.jpg), linear-gradient(#ffffff, #ffef00);
  background-position: 50% 0, 0 0;
  background-repeat: repeat-y, repeat;
  background-size: 180%, auto;
  /* background-attachment: fixed, scroll; */
  flex-direction: column;
  /* padding-bottom: 2rem; */
  font-size: 1rem;
  font-weight: 500;
  line-height: 160%;
  display: flex;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  border: 0;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0.67em 0;
}

audio,
canvas,
progress,
video {
  vertical-align: baseline;
  display: inline-block;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}

.ef {
  opacity: 0;
}